/.vs
/Library
/Logs
/obj
/Temp
.vsconfig
/Assets/AddressableAssetsData
/Assets/MyProject-Saber/Saber_Scripts
/Assets/MyProject-Saber/Saber_Main
/Assets/MyProject-Saber/Saber_Art
/Assets/MyProject-Saber/Saber_Music